* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  border-left: 5px solid lightgray;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
}

header,
main,
footer {
  padding: 1rem 2rem;
}

h1 {
  font-size: 3rem;
  color: tomato;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 40px;
  font-weight: normal;
}

h4 {
  font-size: 20px;
  color: lightgray;
  font-weight: normal;
}

img {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.top-nav > li > a {
  color: lightgray;
}

.top-nav{
margin-top: 1rem;
}

.bottom-nav > li > a {
  color: tomato;
  text-decoration: none;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
p {
  font-size: 12px;
  line-height:20px;
}
article > p::first-letter {
  font-size: 80px;
  color: lightgrey;
}

.cont {
  float: right;
  color: tomato;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}
footer > p {
  color: lightgray;
}
